
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*

 











h1 {
    color: rgb(66, 214, 91);
    display: flex;
    flex-direction: row;
    position: inherit;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 7.5%;
    margin-top: 100px;
    padding: auto;
  
   

} 
#refresh {
    font-size: 100%;
    position: absolute;
    display: flex;
    color: #6dff49;
    background: #27282c;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 200px;

}



h2{
    color: rgb(185, 53, 43);
    font-style: italic;
    display: flex;
    padding: auto;
    font-family: 'Poppins',sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
}
body
{
    display: block;
    min-height: 100vh;
    background: #27282c;
    gap: 50px;
}

  
  
  html, body {
    height: 100%;
}


input {
    text-align: center;
    padding: 10px;
    margin: 20px;
}
.alone {
    margin-top: 10px;
    
}
pre {
    font-size: 12px;
    border: 2px solid grey;
    width: 700px;
    border-left: 12px solid #00dfc4;
    border-radius: 5px;
    padding: 14px;
    
}



.margingleft25 {
    margin-left: 40px;
}

.margingleft50 {
    margin-left: 80px;
}

.margingleft75 {
    margin-left: 120px;
}

.margingleft100 {
    margin-left: 160px;
}

.margingleft125 {
    margin-left: 200px;
}

a
{
    position: relative;;
    display: flex;
    background: #00dfc4;
    color: #00dfc4;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    
    
    padding: 10px 20px;
    border-radius: 50px;
    user-select: none;
    
    
    transition: 0.5s;
    left:21%;
    
}
a:hover
{
    background: var(--clr);
    color:  var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
    
}
a::before
{
    content: '';
    position: absolute;
    inset: 1.5px;
    background: #1d2b3a;
    border-radius: 50px;
}
a span
{
    position: relative;
    z-index: 1.;
    bottom: -20px;
    
    

}
a i
{
    position: absolute;
    inset: 0;
    display: block;
    
    
}
a i::before
{
    content: '';
    position:  absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #1d2b3a;
    transform: translateX(-50%)skewX(325deg);
    transition: 0.5s;
   
}
a:hover i::before
{
    width: 20px;
    left: 20%;

}
a i::after
{
    content: '';
    position:  absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: #1d2b3a;
    transform: translateX(-50%)skewX(325deg);
    transition: 0.5s;
    border-radius: 50px;
}
a:hover i::after
{
    width: 20px;
    left: 80%;
    
}
#quantity{
  color: #00dfc4;
}
  
.quantitybox 
{
  position: relative;
  display: flex;
  width: 250px;
  left: 12%;

}
.quantitybox input
{
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: #1d2b3a;
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 30px;
  transition: 0.5s;
  border: 1px solid #00dfc4;
}
.quantitybox span
{
  position: absolute;
  padding: 10px;
  bottom: 29px;
  left: 20px;
  pointer-events: none;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  transition: 0.5s;
}
.quantitybox input:valid ~ span,
.quantitybox input:focus ~ span
{
  color: #00dfc4;
  transform: translateX(10px)translateY(-30px);
  font-size: 0.85em;
  padding: 0 10px;
  background:  #1d2b3a ;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
  border-top: 1px solid #00dfc4;
  margin-bottom: 1.2em ;
  letter-spacing: 0.2em;
}

.h3
{
 
  display: flex;
  background: #b67514;
  font-size: 20px;
  color: #fff;
  padding: 0.5em;
  border-radius: 0.5em;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: bold;

}

  
#result-detail-total{
  background: #495057;
  font-size: 1em;
  padding: auto;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #6dff49 ;
  font-weight: bold;
  margin: auto;
  margin-bottom: 10px;
  border: 1px solid #00dfc4;
}
#result-detail-total-stack
{
  background: #495057;
  font-size: 1em;
  padding: auto;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #6dff49 ;
  font-weight: bold;
  margin: auto;
  margin-bottom: 10px;
  border: 1px solid #00dfc4;
}
#result-detail-total-stackb
{
  background: #495057;
  font-size: 1em;
  padding: auto;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #6dff49 ;
  font-weight: bold;
  border: 1px solid #00dfc4;
  margin: auto;
  margin-bottom: 10px;
  
}
#result-alliage{
  background: #495057;
  font-size: 1em;
  padding: auto;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #6dff49 ;
  font-weight: bold;
  border: 1px solid #00dfc4;
  margin: auto;
  margin-bottom: 10px;
  line-height: 30px;
}

  #formula{
  position: relative;
  display: flex;
  width: auto;
  left: 10px;
  padding:15px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 100px;
  color: #00dfc4;
  background: #1d2b3a;
  font-size: 1em;
  padding: 20px;
  cursor: pointer;
  border: 1px solid #00dfc4;
  }

  
  
  #formula:hover{
    background: #1d2b3a;
    border: 1px solid #00dfc4;
   
    box-shadow: 0px 0px 10px #1d2b3a;
 

  }
  
  #formula::after{
    background: #1d2b3a;
    border: 1px solid #00dfc4;
  }
  
  
  .list{
    
    
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
    .select{
    display: flex;
    width: auto;
    background: none;
    border: none;
    color: white;
  }
 
  .choix
  {
    
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width:50em ;
   background: #495057;
   border: 1px solid #00dfc4;
    border-radius: 100px;
  }

  footer{
    
    display: flex;
    padding: auto;
    
    border-radius: 100px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  
    text-align: center;
    background-color: #00dfc4 ;
    
    
  }
  .Copyright{
    
    text-align: center;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;

  }

  .glow {
    
    filter: drop-shadow(0px 0px 5px #00dfc4);
  
  }
  
